.App {
  text-align: left;
}

.App-logo {
  height: 40px;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-header h1 {
  display: inline;
  font-size: large;
  height: 40px;
  color: white;
}
