.DepIndicator {
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.ExpanedDepCard .DepIndicator {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.CollapsedDepCard .DepIndicator {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  font-weight: normal;
}

.DepIndicator.DepState-0 {
  background-color: gray;
}

.DepIndicator.DepState-1 {
  background-color: red;
}

.DepIndicator.DepState-2 {
  background-color: green;
}
